$bg-hover: #f7f9fd;

$blue: #0796d3;
$light-blue: #53c0f0;
$lighter-blue: #a0dcf6;

$red: #d30707;
$light-red: #f05353;

$gray: #d7dde9;
$gray2: #b0bbd1;
$gray3: #e7eefb;

$black: #000000;
$white: #ffffff;

$text-gray: rgba(0, 0, 0, 0.54);
